{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Planilla de Censo</h1>
    <h2>Registro de Contribuyente</h2>
    <form action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="{{ form.num_patente.id_for_label}}">Nº Patente</label>
                {{ form.num_patente }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.fec_inicio.id_for_label}}">Fecha de Expedición</label>
                {{ form.fec_inicio }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.fec_final.id_for_label}}">Fecha de Vencimiento</label>
                {{ form.fec_final }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.periodo.id_for_label}}">Año</label>
                {{ form.periodo }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.tipo_persona.id_for_label}}">Tipo Persona</label>
                {{ form.tipo_persona }}
            </div>

            <div class="form-group col-md-4">
                <label for="{{ form.residente.id_for_label}}">Residente</label>
                {{ form.residente }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.sucursal.id_for_label}}">Sucursal</label>
                {{ form.sucursal }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.ced_rif.id_for_label}}">RIF / Cédula</label>
                {{ form.ced_rif }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.nom_con.id_for_label}}">Denominación Comercial</label>
                {{ form.nom_con }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.razon_comer.id_for_label}}">Razón Comercial</label>
                {{ form.razon_comer }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.telf_empresa.id_for_label}}">Teléfono Empresa</label>
                {{ form.telf_empresa }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.whatsapp.id_for_label}}">N° WhatsApp</label>
                {{ form.whatsapp }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.correo_empresa.id_for_label}}">Correo Empresa</label>
                {{ form.correo_empresa }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.correo_contacto.id_for_label}}">Correo Contacto</label>
                {{ form.correo_contacto }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.cod_edo.id_for_label}}">Estado</label>
                {{ form.cod_edo }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.cod_mun.id_for_label}}">Municipio</label>
                {{ form.cod_mun }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.cod_par.id_for_label}}">Parroquia</label>
                {{ form.cod_par }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ form.fecha_fin_junta.id_for_label}}">Fecha Vencimiento de Junta</label>
                {{ form.fecha_fin_junta }}
            </div>
        </div>
        <div class="form-group col-md-4">
            <button>Enviar</button>
        </div>
    </form>
</div>
{% endblock content %}